// Fonts
// @import url('https://fonts.googleapis.com/css?family=PT Sans');

// Variables
@import 'variables';

// .content-wrapper {
//     max-height: 100%;
// }

// .main-sidebar {
//     max-height: 100%;
// }

.content-wrapper {
    min-height: 100vh;
}

.font9 {
    font-size: 9pt;
}

.font10 {
    font-size: 10pt;
}

.font11 {
    font-size: 11pt;
}

.font12 {
    font-size: 12pt;
}

.align-center {
    vertical-align: middle;
}

.table > tbody > td {
    font-size: 9pt;
}

